.animation{
    width: 500%;
    position: relative;
    font-size: 15vh;
    top: 20vh;
    background-repeat: repeat-x;
    animation: service 15s linear infinite;
    }

@keyframes service {
    100%{
        transform: translateX(-3400px);
    }
}
.maindiv{
    width: content-box;
    position: relative;
    left: 2vw;
}
.maindiv>img{
    width: content-box;
    position: relative;
}
.btn1{
    width: content-box;
    position: relative;
    bottom: 20vw;
    left: 18vw;
    border-radius: 20px;
}
.btn2{
    width: content-box;
    position: relative;
    bottom: 20vw;
    left: 56vw;
    border-radius: 20px;
}
.blurimage{
    filter: blur(2px);
}
.blurimage:hover{
    filter: blur(0px);
}
@media all and (max-width: 1440px) and (min-width: 1025px){
    .animation{
        width: 500%;
        font-size: 15vh;
        top: 20vh;
    }
}
@media all and (max-width: 1024px) and (min-width: 769px){
    .animation{
        width: 550%;
        font-size: 13vh;
        top: 20vh;
    }
}
@media all and (max-width: 768px) and (min-width: 426px){
    .animation{
        width: 650%;
        font-size: 12vh;
        top: 20vh;
    }
}
@media all and (max-width: 425px) and (min-width: 376px){
    .animation{
        width: 1200%;
        font-size: 11vh;
        top: 20vh;
    }
}
@media all and (max-width: 375px) and (min-width: 321px){
    .animation{
        width: 1300%;
        font-size: 11vh;
        top: 20vh;
    }
}
@media all and (max-width: 320px) and (min-width: 0px){
    .animation{
        width: 1550%;
        font-size: 11vh;
        top: 20vh;
    }
}
