.animation{
    width: 500%;
    position: relative;
    font-size: 15vh;
    top: 20vh;
    background-repeat: repeat-x;
    animation: service 15s linear infinite;
}
@keyframes service {
    100%{
        transform: translateX(-3400px);
    }
}
.main{
    width: 100vw;
    height: content-box;
    position: relative;
}
.mainheader{
    width: fit-content;
    position: relative;
    left: 20vw;
}
.main>div{
    width: 60vw;
    height: 200px;
    background-color: gray;
    position: relative;
    display: inline-block;
    border-radius: 10px 30px 30px 10px;
    left: 10vw;
}

section>div>p{
    width: 40vw;
    height: content-box;
    position: absolute;
    left: 4vw;
    margin: 0;
}
section>img{
    width: fit-content;
    height: 200px;
    position: relative;
    top: 165px;
    left: 70px;
}
.b{
    position: relative;
    left: 15vh;
    background: palevioletred;
    border-radius: 20px;
    border: 0;
    top: 60px;
}
@media all and (max-width: 1440px) and (min-width: 1025px) {
    .main{
        width: 100vw;
        height: content-box;
        position: relative;
    }
    .mainheader{
        width: fit-content;
        position: relative;
        left: 20vw;
    }
    .main>div{
        width: 60vw;
        height: 200px;
        background-color: gray;
        position: relative;
        display: inline-block;
        border-radius: 10px 30px 30px 10px;
        left: 10vw;
    }

    section>div>p{
        width: 40vw;
        height: content-box;
        position: absolute;
        left: 4vw;
        margin: 0;
    }
    section>img{
        width: fit-content;
        height: 200px;
        position: relative;
        top: 165px;
        left: 50px;
    }
    .b{
        position: relative;
        left: 20vh;
        background: palevioletred;
        border-radius: 20px;
        border: 0;
        top: 60px;
    }
}
@media all and (max-width: 1024px) and (min-width: 769px) {
    .main{
        width: 100vw;
        height: content-box;
        position: relative;
    }
    .mainheader{
        width: fit-content;
        position: relative;
        left: 20vw;
    }
    .main>div{
        width: 60vw;
        height: 200px;
        background-color: gray;
        position: relative;
        display: inline-block;
        border-radius: 10px 30px 30px 10px;
        left: 7vw;
    }

    section>div>p{
        width: 40vw;
        height: content-box;
        position: absolute;
        left: 4vw;
        margin: 0;
    }
    section>img{
        width: fit-content;
        height: 200px;
        position: relative;
        top: 165px;
        left: -25px;
    }
    .b{
        position: relative;
        left: 8vh;
        background: palevioletred;
        border-radius: 20px;
        border: 0;
        top: 60px;
    }
}
@media all and (max-width: 768px) and (min-width: 426px) {
    .main {
        width: 100vw;
        height: content-box;
        position: relative;
    }

    .mainheader {
        width: fit-content;
        position: relative;
        left: 20vw;
    }

    .main > div {
        width: 60vw;
        height: content-box;
        background-color: gray;
        position: relative;
        display: inline-block;
        border-radius: 10px 30px 30px 10px;
        bottom: 50px;
        left: 7vw;
        margin: 0;
    }

    section > div > p {
        width: 40vw;
        height: content-box;
        position: absolute;
        left: 5vw;
    }

    section > img {
        width: fit-content;
        height: 200px;
        position: relative;
        top: 115px;
        left: -45px;
    }

    .b {
        position: relative;
        left: -3vh;
        background: palevioletred;
        border-radius: 20px;
        border: 0;
        top: 10px;

    }
}
@media all and (max-width: 425px) and (min-width: 376px){
    .main {
        width: 100vw;
        height: content-box;
        position: relative;
    }

    .mainheader {
        width: fit-content;
        position: relative;
        left: 20vw;
    }
    .main>div>h4{
        width: fit-content;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        top: 5px;
    }

    .main > div {
        width: 80vw;
        height:content-box;
        background-color: gray;
        position: relative;
        display: inline-block;
        border-radius: 30px 30px 30px 30px;
        left: 10vw;
        top: 20px;
        margin: 0;
    }

    section > div > p {
        width: 70vw;
        height: content-box;
        position: absolute;
        left: 5vw;
        margin: 15px;
    }

    section > img {
        width: fit-content;
        height: 200px;
        position: relative;
        top: -15px;
        left: 50px;
    }

    .b {
        position: relative;
        left: 12vh;
        background: palevioletred;
        border-radius: 20px;
        border: 0;
        top: -100px;

    }
}
@media all and (max-width: 375px) and (min-width: 321px){
    .main {
        width: 100vw;
        height: content-box;
        position: relative;
    }

    .mainheader {
        width: fit-content;
        position: relative;
        left: 20vw;
        font-size: 30px;
    }
    .main>div>h4{
        width: fit-content;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        top: 5px;
    }

    .main > div {
        width: 80vw;
        height:content-box;
        background-color: gray;
        position: relative;
        display: inline-block;
        border-radius: 30px 30px 30px 30px;
        left: 10vw;
        top: 40px;
        margin: 0;
    }

    section > div > p {
        width: 70vw;
        height: content-box;
        position: absolute;
        left: 5vw;
        margin: 15px;
        font-size: 15px;
    }

    section > img {
        width: fit-content;
        height: 200px;
        position: relative;
        top: 15px;
        left: 50px;
    }

    .b {
        position: relative;
        left: 12vh;
        background: palevioletred;
        border-radius: 20px;
        border: 0;
        top: -75px;

    }
}
@media all and (max-width: 320px) and (min-width: 0px){
    .main {
        width: 100vw;
        height: content-box;
        position: relative;
    }

    .mainheader {
        width: fit-content;
        position: relative;
        left: 20vw;
        font-size: 30px;
    }
    .main>div>h4{
        width: fit-content;
        position: relative;
        left: 3px;
        right: 0;
        margin: auto;
        top: 10px;
    }

    .main > div {
        width: 80vw;
        height:content-box;
        background-color: gray;
        position: relative;
        display: inline-block;
        border-radius: 30px 30px 30px 30px;
        left: 10vw;
        top: 50px;
        margin: 0;
    }

    section > div > p {
        width: 70vw;
        height: content-box;
        position: absolute;
        left: 2vw;
        margin: 15px;
        font-size: 15px;
    }

    section > img {
        width: fit-content;
        height: 200px;
        position: relative;
        top: 40px;
        left: 25px;
    }

    .b {
        position: relative;
        left: 3vh;
        background: palevioletred;
        border-radius: 20px;
        border: 0;
        top: -2px;

    }
}
/*////////////////////////////animation/////////////////////////////*/
@media all and (max-width: 1440px) and (min-width: 1025px){
    .animation{
        width: 500%;
        font-size: 15vh;
        top: 20vh;
    }
}
@media all and (max-width: 1024px) and (min-width: 769px){
    .animation{
        width: 550%;
        font-size: 13vh;
        top: 20vh;
    }
}
@media all and (max-width: 768px) and (min-width: 426px){
    .animation{
        width: 650%;
        font-size: 12vh;
        top: 20vh;
    }
}
@media all and (max-width: 425px) and (min-width: 376px){
    .animation{
        width: 1200%;
        font-size: 11vh;
        top: 20vh;
    }
}
@media all and (max-width: 375px) and (min-width: 321px){
    .animation{
        width: 1300%;
        font-size: 11vh;
        top: 20vh;
    }
}
@media all and (max-width: 320px) and (min-width: 0px){
    .animation{
        width: 1550%;
        font-size: 11vh;
        top: 20vh;
    }
}
