.animation{
    width: 500%;
    position: relative;
    font-size: 15vh;
    top: 20vh;
    background-repeat: repeat-x;
    animation: service 15s linear infinite;
}

@keyframes service {
    100%{
        transform: translateX(-3400px);
    }
}

.div1{
    width: 24%;
    height: content-box;
    position: relative;
    margin: 2px 20px;
}
div>center>img{
    width: content-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
div>center>h2{
    width: content-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 120px;
}
div>center>p{
    width: 140px;
    height: fit-content;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
}
section{
    width: 100vw;
    height: content-box;
    display: flex;
    position: relative;
    top: 5vw;
}
.subhead{
    width: fit-content;
    position: relative;
    left: 4%;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    border: 0;
    position: relative;
    left: 2%;
}
.skill h2{
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #000;
    font-size: 16px;
}
.progress-bar{
    background: #959595;
    width: 1000px;
    height: 20px;
    border-radius: 5px;
}
.progress-bar div{
    height: 20px;
    border-radius: 5px;
    width: 0%;

}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    float: right;
    margin-top: -11px;
    margin-right: -20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html{
    background: red;
    animation: html 2s linear forwards;
}
.css{
    background: gold;
    animation: css 2s linear forwards;
}
.photoshop{
     background: green;
    animation: photoshop 2s linear forwards;
}
.javascript{
    background: deeppink;
    animation: javascript 2s linear forwards;
}
.python{
    background: darkmagenta;
    animation: python 2s linear forwards;
}
.database{
    background: mediumspringgreen;
    animation: database 2s linear forwards;
}
.design{
    background: palegoldenrod;
    animation: design 2s linear forwards;
}
.nodejs{
    background: darkblue;
    animation: nodejs 2s linear forwards;
}
.coading{
    background: mediumvioletred;
    animation: coading 2s linear forwards;
}
.c\+\+{
    background: greenyellow;
    animation: c\+\+ 2s linear forwards;
}
@keyframes html {
    100%{
        width: 80%;
    }
}
@keyframes css {
    100%{
        width: 70%;
    }
}
@keyframes photoshop {
    100%{
        width: 90%;
    }
}
@keyframes javascript {
    100%{
        width: 80%;
    }
}
@keyframes python {
    100%{
        width: 75%;
    }
}
@keyframes database {
    100%{
        width: 90%;
    }
}
@keyframes design {
    100%{
        width: 75%;
    }
}
@keyframes nodejs {
    100%{
        width: 72%;
    }
}
@keyframes coading {
    100%{
        width: 80%;
    }
}
@keyframes c\+\+ {
    100%{
        width: 60%;
    }
}
@media all and (max-width: 1440px) and (min-width: 1025px){
    .animation{
        width: 500%;
        font-size: 15vh;
        top: 20vh;
    }
}
@media all and (max-width: 1024px) and (min-width: 769px){
    .animation{
        width: 550%;
        font-size: 13vh;
        top: 20vh;
    }
}
@media all and (max-width: 768px) and (min-width: 426px){
    .animation{
        width: 650%;
        font-size: 12vh;
        top: 20vh;
    }
}
@media all and (max-width: 425px) and (min-width: 376px){
    .animation{
        width: 1200%;
        font-size: 11vh;
        top: 20vh;
    }
}
@media all and (max-width: 375px) and (min-width: 321px){
    .animation{
        width: 1300%;
        font-size: 11vh;
        top: 20vh;
    }
}
@media all and (max-width: 320px) and (min-width: 0px){
    .animation{
        width: 1550%;
        font-size: 11vh;
        top: 20vh;
    }
}
/*///////presentage///////////////////////*/
@media all and (max-width: 1440px) and (min-width: 1025px){
    .container{
        width: 100%;
        height: 100vh;
    }
    .skill h2{
        font-weight: 800;
        font-size: 16px;
    }
    .progress-bar{
        width: 1000px;
        height: 20px;
    }

    .progress-bar div span{
        height: 40px;
        width: 40px;
        border-radius: 50%;

    }
}
@media all and (max-width: 1024px) and (min-width: 769px){
    .container{
        width: 80%;
        height: 80vh;
    }
    .skill h2{
        font-weight: 800;
        font-size: 16px;
    }
    .progress-bar{
        width: 800px;
        height: 20px;
    }
    .progress-bar div span{
        height: 40px;
        width: 40px;
        border-radius: 50%;

    }
}
@media all and (max-width: 768px) and (min-width: 426px){
    .container{
        width: 50%;
        height: 90vh;
    }
    .skill h2{
        font-weight: 600;
        font-size: 14px;
    }
    .progress-bar{
        width: 500px;
        height: 20px;
    }
    .progress-bar div span{
        height: 40px;
        width: 40px;
        border-radius: 50%;

    }
}
@media all and (max-width: 425px) and (min-width: 376px){
    .container{
        width: 30%;
        height: 100vh;
    }
    .skill h2{
        font-weight: 400;
        font-size: 14px;
    }
    .progress-bar{
        width: 350px;
        height: 14px;
    }
    .progress-bar div{
        height: 14px;

    }
    .progress-bar div span{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
@media all and (max-width: 375px) and (min-width: 321px){
    .container{
        width: 28%;
        height: 100vh;
    }
    .skill h2{
        font-weight: 400;
        font-size: 14px;
    }
    .progress-bar{
        width: 300px;
        height: 14px;
    }
    .progress-bar div{
        height: 14px;

    }
    .progress-bar div span{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
@media all and (max-width: 320px) and (min-width: 0px){
    .container{
        width: 28%;
        height: 100vh;
    }
    .skill h2{
        font-weight: 400;
        font-size: 14px;
    }
    .progress-bar{
        width: 280px;
        height: 14px;
    }
    .progress-bar div{
        height: 14px;

    }
    .progress-bar div span{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
/*/////////////section//////////////////*/
@media all and (max-width: 1440px) and (min-width: 1025px){

    .div1{
        width: 24%;
        height: 20vw;
        /*left: 2%;*/
    }
    div>img{
        width: content-box;
        left: 8vw;
    }
    div>center>h2{
        width: content-box;
        font-size: 20px;
    }
    div>p{
        width: 140px;
    }
}
@media all and (max-width: 1024px) and (min-width: 769px){

    .div1{
        width: 18%;
        height: 30vw;
        left: 2%;
        margin: 2px 20px;
    }
    div>img{
        width: content-box;
        left: 6vw;
    }
    div>center>h2{
        width: content-box;
        font-size: 15px;
    }
    div>p{
        width: 60px;
    }
}
@media all and (max-width: 768px) and (min-width: 426px){
    section{
        flex-direction: column;
    }
    .div1{
        width: 40%;
        height: 30vw;
        left: 2%;
        margin-bottom: 2px;
    }
    div>img{
        width: content-box;
        left: 200px;
    }
    div>center>h2{
        width: content-box;
        font-size: 20px;
    }
    div>p{
        width: 200px;
    }
}
@media all and (max-width: 425px) and (min-width: 376px){
    section{
        flex-direction: column;
    }
    .div1{
        width: 65%;
        height: 50vw;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 2px;
    }
    div>img{
        width: content-box;
        left: 6vw;
    }
    div>center>h2{
        width: content-box;
        font-size: 20px;
    }
    div>p{
        width: 300px;
    }
}
@media all and (max-width: 375px) and (min-width: 321px){
    section{
        flex-direction: column;
    }
    .div1{
        width: 65%;
        height: 60vw;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 2px;
    }
    div>img{
        width: content-box;
        left: 6vw;
    }
    div>center>h2{
        width: content-box;
        font-size: 20px;
    }
    div>p{
        width: 300px;
    }
}
@media all and (max-width: 320px) and (min-width: 0px){
    section{
        flex-direction: column;
    }
    .div1{
        width: 65%;
        height: 70vw;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 2px;
    }
    div>img{
        width: content-box;
        left: 6vw;
    }
    div>center>h2{
        width: content-box;
        font-size: 20px;
    }
    div>p{
        width: 300px;
    }
}


