.animation{
    width: 500%;
    position: relative;
    font-size: 15vh;
    top: 20vh;
    background-repeat: repeat-x;
    animation: service 15s linear infinite;
}

@keyframes service {
    100%{
        transform: translateX(-3400px);
    }
}
.div1{
    width: 24%;
    height: 20vw;
    position: relative;
    display: inline-block;
    left: 2%;
}
div>img{
    width: content-box;
    position: relative;
    left: 8vw;
}
div>center>h2{
    width: content-box;
    position: relative;
    /*left: 100px;*/
}
div>p{
    width: 140px;
    position: relative;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    border: 0;
    /*align-items: center;*/
    /*justify-content: center;*/
    position: relative;
}
.skill h2{
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #000;
    font-size: 16px;
}
.progress-bar{
    background: #959595;
    width: 600px;
    height: 20px;
    border-radius: 5px;
}
.progress-bar div{
    height: 20px;
    border-radius: 5px;
    width: 0%;

}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    float: right;
    margin-top: -11px;
    margin-right: -20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html{
    background: red;
    animation: html 1s linear forwards;
}
.css{
    background: gold;
    animation: css 1s linear forwards;
}
.photoshop{
     background: green;
    animation: photoshop 1s linear forwards;
}
.javascript{
    background: deeppink;
    animation: javascript 1s linear forwards;
}
.python{
    background: darkmagenta;
    animation: python 1s linear forwards;
}
.database{
    background: mediumspringgreen;
    animation: database 1s linear forwards;
}
.design{
    background: palegoldenrod;
    animation: design 1s linear forwards;
}
.nodejs{
    background: darkblue;
    animation: nodejs 1s linear forwards;
}
.coading{
    background: mediumvioletred;
    animation: coading 1s linear forwards;
}
.c\+\+{
    background: greenyellow;
    animation: c\+\+ 1s linear forwards;
}
@keyframes html {
    100%{
        width: 80%;
    }
}
@keyframes css {
    100%{
        width: 70%;
    }
}
@keyframes photoshop {
    100%{
        width: 90%;
    }
}
@keyframes javascript {
    100%{
        width: 80%;
    }
}
@keyframes python {
    100%{
        width: 75%;
    }
}
@keyframes database {
    100%{
        width: 90%;
    }
}
@keyframes design {
    100%{
        width: 75%;
    }
}
@keyframes nodejs {
    100%{
        width: 72%;
    }
}
@keyframes coading {
    100%{
        width: 80%;
    }
}
@keyframes c\+\+ {
    100%{
        width: 60%;
    }
}


