body{
    width: 100%;
    height: 100%;
    position: relative;
}
/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.container-fluid{
    width: fit-content;
    display: flex;
}
.navbar-collapse{
    width: fit-content;
    position: relative;
    right: -340px;
    top: 12px;
}
.navbar-nav{
    width: fit-content;
    height: content-box;
    position: absolute;
    display: flex;
}
.navbar {
    width: 100vw;
    height: 5vw;
    position: relative;
    transition: .5s;
    z-index: 999;
    background: #250821;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
    position: relative;
    left: 50px;
    color: white;
    /*font-family: 'Tilt Neon', sans-serif;*/
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}
.nav-item{
    padding: 10px 10px 8px 10px;
    color: #FFFFFF;
    position: relative;
    font-family: "Montserrat";
}
.navbar.nav-sticky {
    padding: 10px 60px;
    background: #ffffff !important;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar.nav-sticky .navbar-brand {
    color: #250821;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.navbar-light.nav-sticky .navbar-nav .nav-link,
.navbar-light.nav-sticky .navbar-nav .nav-link:focus {
    color: #414141;
    position: relative;
    right: 5vw;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #111111;
}

.navbar-light.nav-sticky .navbar-nav .nav-link:hover,
.navbar-light.nav-sticky .navbar-nav .nav-link.active {
    color: #12f7ff;
}
/*////////////////////////////////////////////////////////////*/
/*//////////////hero css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/
.herosec{
    width: 100vw;
    min-height: 50vw;
    background: #250821;
}
.hero{
    width: 100vw;
    position: absolute;
    /*background: red;*/
}
.hero .hero-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}
.hero .hero-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #12f7ff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);

}
.hero .hero-text .typed-text {
    display: none;
}
.hero .hero-text{
    width: fit-content;
    position: absolute;
    left: 10vw;
    top: 8vw;
}
.hero
p,
h1,
h2{
    font-family: 'Tilt Neon', sans-serif;
}
.hero p{
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.hero h1{
    font-size: 52px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.herosec .hero-image{
    width: fit-content;
    position: absolute;
    left: 50vw;
    top: 70px;
}
.herobtn{
    width: 150px;
    height: 40px;
    position: absolute;
    background: black;
    top: 235px;
}
.herobtn .btn{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;

}
.herobtn:hover{
    box-shadow: 0 0 .5rem #12f7ff;
}
.socialMedia{
    width: fit-content;
    position: relative;
    top: 400px;
    left: 115px;
}
.socialMedia a{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 20px;
}
.socialMedia a img{
    width: 35px;
    height: 35px;
}

