body{
    width: 100vw;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.container-fluid{
    width: fit-content;
    display: flex;
}
.navbar-collapse{
    width: fit-content;
    position: relative;
    right: -340px;
    top: 12px;
}
.navbar-nav{
    width: fit-content;
    height: content-box;
    position: absolute;
    display: flex;
    text-decoration: none;
}
.navbar {
    width: 100%;
    position: relative;
    transition: .5s;
    z-index: 999;
    background: #250821;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    /*text-decoration: none;*/
}

.navbar .navbar-brand {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
    position: relative;
    left: 50px;
    color: white;
    font-family: 'Tilt Neon', sans-serif;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}
.nav-item{
    padding: 10px 15px 8px 15px;
    color: #FFFFFF;
    position: relative;
    font-family: "Montserrat";
    text-decoration: none;
}
#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: #12f7ff;
    border-radius: 15px;
    padding: 6px;
    color: #292e33;
    display: none;
}
.navbar.nav-sticky {
    /*padding: 10px 60px;*/
    padding-bottom: 10px;
    background: #FFFFFF !important;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar.nav-sticky .navbar-brand {
    width: fit-content;
    position: relative;
    left: 100px;
    top: 5px;
    color: #250821;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 15px 8px 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;

}

.navbar-light.nav-sticky .navbar-nav .nav-link,
.navbar-light.nav-sticky .navbar-nav .nav-link:focus {
    color: #414141;
    position: relative;
    /*right: 5vw;*/
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #12f7ff;
    text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}

.navbar-light.nav-sticky .navbar-nav .nav-link:hover,
.navbar-light.nav-sticky .navbar-nav .nav-link.active {
    color: #129cff;
    text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}


/*////////////////////////////////////////////////////////////*/
/*//////////////hero css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/
.herosec{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    background: #250821;
}
.hero{
    width: 100vw;
    position: absolute;
    /*background: red;*/
}
.hero .hero-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}
.hero .hero-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #12f7ff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);

}
.hero .hero-text .typed-text {
    display: none;
}
.hero .hero-text{
    width: fit-content;
    position: absolute;
    left: 10vw;
    top: 8vw;
}
.hero p, h1, h2{
    /*width: fit-content;*/
    font-family: 'Tilt Neon', sans-serif;
}
.hero p{
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.hero h1{
    font-size: 52px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.herosec .hero-image{
    width: fit-content;
    position: absolute;
    left: 50vw;
    top: 70px;
}
.herobtn{
    width: 150px;
    height: 40px;
    position: absolute;
    background: black;
    top: 235px;
}
.herobtn .btn{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    text-decoration: none;

}
.herobtn:hover{
    box-shadow: 0 0 .9rem #12f7ff;
}
.socialMedia{
    width: fit-content;
    position: relative;
    top: 400px;
    left: 115px;
}
.socialMedia a{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 20px;
}
.socialMedia a img{
    width: 35px;
    height: 35px;
}
/*////////////////////////////////////////////////////////////*/
/*//////////////about css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/
.about-sec{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #292e33;
    display: flex;
    margin: 0;
}
.about-img img{
    width: 430px;
    height: 500px;
    position: relative;
    top: 50px;
    left: 50px;
}
.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 40px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: 100px;
    font-family: 'Tilt Neon', sans-serif;
    left: 92px;
}
.section-header p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
    background: #EF233C;
    z-index: -1;
}
.section-header p::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: #EF233C;
    z-index: 1;
}
.about-text p{
    width: 600px;
    height: fit-content;
    position: relative;
    left: 122px;
    top: 100px;
    font-size: 17px;
    color: #FFFFFF;
    font-family: 'Tilt Neon', sans-serif;
}
.about-content .btn {
    width: fit-content;
    position: relative;
    left: 120px;
    top: 140px;
    padding: 12px 25px;
     font-size: 14px;
     /*font-weight: 600;*/
     letter-spacing: 1px;
     color: #ffffff;
     background: black;
     border-radius: 0;
     transition: ease-out 0.3s;
    font-family: Montserrat;
    text-decoration: none;
}
.about-content .btn:hover{
    box-shadow: 0 0 .9rem #12f7ff;
}
/*////////////////////////////////////////////////////////////*/
/*//////////////services css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/
.service-sec{
    width: 100%;
    min-height: 140vh;
    position: relative;
    background: #250821;
    margin: 0;
}
.service-sec .section-services .service-btn .btn {
    width: fit-content;
    position: relative;
    padding: 12px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #12f7ff;
    /*background: black;*/
    border: #12f7ff 2px;
    border-radius: 0;
    transition: ease-out 0.3s;
    font-family: Montserrat;
    top: 10px;
    box-shadow: 0 0 .9rem #12f7ff;
    text-decoration: none;
}
.service-sec .section-services .service-btn .btn:hover{
    background: #12f7ff;
    color: black;
}
.service-sec .main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #12f7ff;
}
.service-sec .main-text h2{
    font-weight: 700;
    /*font-size: ;*/
}
.service-sec .main-text span{
    position: relative;
    top: 20px;
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.section-services{
    width: 96vw;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1rem;
    color: #FFFFFF;
}
.section-services .service-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: #292e33;
    transition: transform .4s;
    border-radius: 10px;
}
.service-btn{
    width: auto;
    justify-content: center;
}
.service-box:hover{
    transform: translateY(-.7rem);
}
.service-box img{
    border: 2px solid #12f7ff;
    padding: 2rem;
    background: #250821;
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 .9rem #12f7ff;
    outline: 3px solid #250821;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;

}
/*////////////////////////////////////////////////////////////*/
/*//////////////skills css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/

.skills{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #292e33;
    margin: 0;
}
.skills .main-text span{
    position: relative;
    top: 20px;
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.skills .main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #12f7ff;
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    grid-column-gap: 0px;
}
.skill-bar{
    width: 42vw;
    margin-bottom: .3rem;
    position: relative;
    left: 66px;
}
.skill-main h3{
    margin-bottom: 2rem;
    /*font-size: ;*/
    text-align: center;
    color: #FFFFFF;
    font-family: 'Tilt Neon', sans-serif;
}
.skill-left .skill-bar .info,
.skill-right .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar,
.skill-right .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: #250821;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
/*.bar span{*/
/*    color: #12f7ff;*/
/*    font-family: Montserrat;*/
/*}*/
.info p{
    color: #FFFFFF;
    font-family: Montserrat;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #12f7ff;
    border-radius: 25px;
    box-shadow: 0 0 .9rem #12f7ff;
}
.skill-bar .bar .html{
    width: 72%;
    animation: html 2s;
}
.skill-bar .bar .css{
    width: 80%;
    animation: css 3s;
}
.skill-bar .bar .figma{
    width: 90%;
    animation: figma 4s;
}
.skill-bar .bar .js{
    width: 85%;
    animation: js 5s;
}
.skill-bar .bar .coding{
    width: 95%;
    animation: coading 6s;
}
.skill-bar .bar .pm{
    width: 98%;
    animation: pm 2s;
}
.skill-bar .bar .commiunication{
    width: 60%;
    animation: commiunication 3s;
}
.skill-bar .bar .tw{
    width: 50%;
    animation: tw 4s;
}
.skill-bar .bar .creativity{
    width: 70%;
    animation: creativity 5s;
}
.skill-bar .bar .development{
    width: 100%;
    animation: development 6s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes figma {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes coading {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes pm {
    0%{
        width: 0%;
    }
    100%{
        width: 98%;
    }
}
@keyframes commiunication {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes tw {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes creativity {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes development {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
/*////////////////////////////////////////////////////////////*/
/*//////////////project css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/
.projectsec{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #292e33;
    margin: 0;
}
.projectsec .main-text{
    text-align: center;
    font-family: 'Tilt Neon', sans-serif;
}
.projectsec .main-text h2{
    font-size: 25px;
    line-height: 1;
    margin: 0;
    padding: 40px;
    color: #12f7ff;
}
.projectsec .main-text span{
    color: white;
}
.portfolio-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px, auto));
    padding-bottom: 40px;
}
.portfolio-content .row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
}
.portfolio-content .row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.portfolio-content .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(#12f7ff, rgba(0,0,0,0.1));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.projectsec .layer h5{
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 21px;
    left: -32px;
    right: 0;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}
.projectsec .layer p{
    color: white;
    font-size: 1rem;
    width: 365px;
    height: fit-content;
    line-height: 1.8;
    position: relative;
    left: -39px;
    right: 0;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    top: -5px;
}
.projectsec .layer a{
    color: greenyellow;
    font-size: 20px;
    background: #292e33;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    left: -42px;
    right: 0;
    margin: auto;
    font-family: Montserrat;
    text-decoration: none;
}
.projectsec .layer a:hover{
    color: black;
    background-color: #12f7ff;
    box-shadow: 0 0 .9rem #FFFFFF;
}
.projectsec .row:hover img{
    transform: scale(1.1);
}
.projectsec .row:hover .layer{
    height: 100%;
}
/*////////////////////////////////////////////////////////////*/
/*//////////////assignment css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/

.assignment-sec .main-text span{
    position: relative;
    top: 20px;
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.assignment-sec .main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #12f7ff;
}
.assignment-sec{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #250821;
    margin: 0;
}
.assignment-sec .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
}
.assignment-sec .container .drop{
    position: relative;
    width: 350px;
    height: 350px;
    background: #ffffff;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.3),
    25px 35px 20px rgba(0, 0, 0, 0.62),
    25px 30px 30px rgba(255, 255, 255, 0.39),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assignment-sec .container .drop:nth-child(1){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}
.assignment-sec .container .drop:nth-child(2){
    border-radius: 30% 70% 70% 30% / 30% 63% 37% 70% ;
}
.assignment-sec .container .drop:nth-child(3){
    border-radius: 30% 70% 30% 70% / 58% 63% 37% 42%  ;
}
.assignment-sec .container .drop:nth-child(4){
    border-radius: 30% 70% 70% 30% / 30% 63% 37% 70% ;
}
.assignment-sec .container .drop:nth-child(5){
    border-radius: 30% 70% 30% 70% / 58% 63% 37% 42%  ;
}
.assignment-sec .container .drop:nth-child(6){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}
.assignment-sec .container .drop:hover{
    border-radius: 50%;
}
.assignment-sec .container .drop::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.9;
}
.assignment-sec .container .drop::after{
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.9;
}
.assignment-sec .container .drop .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}
.assignment-sec .container .drop .content h2{
    position: relative;
    width: 80px;
    height: 80px;
    background: #eff0f4;
    border-radius: 50%;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 10px rgba(0,0,0,0.025);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--clr);
}
.assignment-sec .container .drop .content a{
    position: relative;
    padding: 10px 25px;
    background: var(--clr);
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 25px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0,0,0,0.25);
    opacity: 0.75;
    transition: 00.5s;
    font-family: Montserrat;
}
.assignment-sec .container .drop .content a:hover{
    opacity: 1;
}
.assignment-sec .container .drop .content a::before{
    content: '';
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);

}

/*////////////////////////////////////////////////////////////*/
/*//////////////gallery css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/
.gallery{
    min-height: 100vh;
    padding-bottom: 100px;
    background: #292e33;
    position: relative;

}
.gallery .main-text h2{
    width: 100%;
    text-align: center;
    color: #12f7ff;
    margin: 0;
    padding-top: 35px
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.gallery .controls .buttons{
    height: fit-content;
    width: 140px;
    background: #fff;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    font-family: Montserrat;
    font-weight: bold;
}

.gallery .controls .buttons:hover{
    background: #01ff95;
    color: black;
    box-shadow: 0 0 .9rem #12f7ff;

}
.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .image-container .image{
    height: 250px;
    width: 350px;
    overflow: hidden;
    border: 2px solid #12f7ff;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 15px;

}

.gallery .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img{
    transform: scale(1.4);
}
/*////////////////////////////////////////////////////////////*/
/*//////////////contact css/////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/
.contact{
    width: 100vw;
    min-height: 100vh;
/*    padding-bottom: 100px;*/
    background: #250821;
    position: relative;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 0;
}
.contact-text{
    width: fit-content;
    position: relative;
    left: 10px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
    color: #12f7ff;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    width: fit-content;
    margin-bottom: 10px;
    display: flex;
    color: lightgrey;
}
.contact-list img{
    display: inline-block;
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;

}
.contact-list li:hover{
    transform: scale(1.01) translateY(-5px);
    color: #01ff95;
}
.contact-icons{
    width: fit-content;
    position: relative;
    bottom: 10px;
}
.contact-icons img{
    padding: 5px;
    border: 2px solid #12f7ff;
    border-radius: 50%;
    margin-left: 10px;
    transition: 5s ease;
    animation: sideLeft 1s ease forwards;
}
.contact-icons img:hover{
    background: black;
    color: black;
    box-shadow: 0 0 20px #12f7ff;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    width: fit-content;
    position: relative;
    padding: 14px 60px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #12f7ff;
    /*background: black;*/
    border: #12f7ff 2px;
    border-radius: 0;
    transition: ease-out 0.3s;
    font-family: Montserrat;
    top: 10px;
    box-shadow: 0 0 .9rem #12f7ff;
}
.contact-form form .send:hover{
    background: #12f7ff;
    color: black;
}
.last-text{
    width: 100%;
    position: relative;
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 600;
    margin: 0;
    font-family: Montserrat;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top:hover{
    background: #01ff95;
    border-radius: 40%;
}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

@media all and (max-width: 1024px){
    .navbar .navbar-brand {
        font-size: 35px;
        color: #ffffff;
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 12px 8px 12px;
    }
    .navbar-collapse {
        right: -145px;
    }
    .navbar.nav-sticky .navbar-brand {
        left: 73px;
    }
    .hero .hero-text {
        /*left: 7vw;*/
    }
    .socialMedia {
        left: 46px;
    }
    .hero-image img{
        width: 522px;
        height: auto;
    }
    .herosec .hero-image {
        left: 47vw;
        top: 85px;
    }
    .navbar.nav-sticky {
        width: 100vw;
    }
    .about-img img {
        width: 350px;
        height: 445px;
    }
    .about-text p {
        width: 505px;
    }
    .section-services {
        padding-bottom: 25px;
    }
    .skill-bar {
        left: 38px;
    }
    .portfolio-content .row img {
        width: 100%;
    }
    .contact-text h2 {
        font-size: 80px;
    }
    .contact-form form {
        width: 48vw;
    }
    .contact-text p {
        width: 49vw;
        font-size: 19px;
    }
}
@media all and (max-width: 768px){
    .navbar .navbar-brand {
        font-size: 23px;
        top: 8px;
        left: 38px;
    }
    .navbar.nav-sticky .navbar-brand {
        left: 56px;
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
        padding: 8px 8px 8px 8px;
        font-size: 13px;
    }
    .navbar-collapse {
        top: 4px;
        right: -77px;
    }
    .navbar-collapse {
        right: -77px;
    }
    .hero p{
        font-size: 24px;
    }
    .hero h1{
        font-size: 42px;
        margin-bottom: 8px;
    }
    .hero .hero-text h2{
        font-size: 25px;
    }
    .herobtn {
        width: 140px;
        height: 32px;
        top: 208px;
    }
    .portfolio-content .row img {
        width: 100%;
    }
    .hero .hero-text {
        left: 5vw;
    }
    .socialMedia {
        left: 20px;
        top: 335px;
    }
    .hero-image img {
        width: 415px;
    }
    .socialMedia a {
        margin: 17px;
    }
    .herosec .hero-image {
        left: 44vw;
    }
    .herosec {
        min-height: 80vh;
    }
    .socialMedia a img {
        width: 30px;
        height: 30px;
    }
    .about-img img {
        width: 263px;
        height: auto;
        top: 73px;
        left: 38px;
    }
    .about-sec {
        min-height: 80vh;
    }
    .section-header p {
        left: 63px;
    }
    .about-text p {
        left: 97px;
        font-size: 15px;
        width: 380px;
    }
    .section-services {
        width: 92vw;
    }
    .skill-bar {
        left: 25px;
    }
    .assignment-sec .container {
        gap: 40px 50px;
    }
    .assignment-sec .container .drop {
        width: 330px;
        height: 330px;
    }
    .gallery .controls .buttons {
        width: 94px;
    }
    .contact-text h2 {
        font-size: 53px;
    }
    .contact-text p {
        width: 44vw;
        font-size: 16px;
    }
    .contact-form form {
        width: 47vw;
    }
    .contact-text {
        top: -30px;
    }
    .contact-form {
        width: fit-content;
        position: relative;
        top: -27px;
    }
    .contact-form form .send {
        padding: 10px 44px;
    }
    .contact {
        min-height: 94vh;
    }
    .last-text p {
        padding: 11px 0;
        font-weight: 500;
        font-size: 12px;
    }
}
@media all and (max-width: 425px){
    #menu-icon{
        display: block;
        transition: all .4s ease;
        position: absolute;
        right: 5vw;
        top: 2px;
        background: #12f7ff;
        padding: 3px;
    }
    .navbar.nav-sticky .navbar-brand {
        left: 20px;
    }
    .navbar-light.nav-sticky .navbar-nav .nav-link, .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: white;
        position: relative;
    }
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover, .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #12f7ff;
        text-shadow: 0 0 10px rgba(18,247,255,0.3), 0 0 20px rgba(18,247,255,0.3), 0 0 30px rgba(18,247,255,0.3), 0 0 40px rgba(18,247,255,0.3), 0 0 70px rgba(18,247,255,0.3), 0 0 80px rgba(18,247,255,0.3), 0 0 100px rgba(18,247,255,0.3), 0 0 150px rgba(18,247,255,0.3);
    }
    #menu-icon.bx-x{
        transform: rotate(-180deg);
    }
    .navbar-nav{
        display: none;
        background-color: rgba(0, 0, 0, 0.84);
        width: 100%;
        position: sticky;
        z-index: auto;

    }
    .navbar .navbar-brand {
        font-size: 20px;
        left: 18px;
    }
    .navbar {
        height: 30px;
        position: relative;
    }
    .navbar-collapse {
        width: 100vw;
        left: -132px;
        top: 0px;
    }
    .navbar-nav.open{
        width: 100vw;
        top: 100%;
        display: block;
        /*background: rgba(0, 0, 0, 0.84);*/
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
        padding: 8px 8px 8px 8px;
        font-size: 13px;
        display: flex;
    }
    .herosec .hero-image {
        left: -5vw;
        top: 38px;
    }
    .hero .hero-text {
        left: 5vw;
        top: 300px;
    }
    .about-content{
        position: relative;
        left: -338px;
        top: 311px;
    }
    .contact-form form {
        width: 90vw;
    }
    .contact-text {
        top: -296px;
    }
    .contact-text h2 {
        font-size: 53px;
        width: 95vw;
    }
    .contact-text p {
        width: 95vw;
        font-size: 16px;
    }
    .contact-icons {
        left: 20vw;
    }
    .contact-form form input, form textarea {
        padding: 12px;
        font-size: 1rem;
        font-weight: 400;
        width: 94%;
    }
    .contact-form form .send {
        padding: 5px 30px;
    }
    .contact-form {
        width: fit-content;
        position: relative;
        top: 243px;
        right: 90vw;
    }
    .contact {
        min-height: 175vh;
    }
    .top img{
        width: 16px;
    }
    .container-fluid {
        width: 100vw;
    }
    .herosec {
        min-height: 100vh;
    }
    .herobtn{
        left: 110px;
        top: 180px;
    }
    .hero h1{
        font-size: 37px;
    }
    .socialMedia {
        left: 46px;
        top: 538px;
    }
    .about-img img {
        width: 263px;
        height: auto;
        top: 42px;
        left: 81px;
    }
    .about-sec {
        min-height: 120vh;
    }
    .section-header p {
        left: 176px;
    }
    .about-content .btn {
        left: 196px;
    }
    .skill-right{
        position: relative;
        width: fit-content;
        top: 112vw;
        right: 87vw;
    }
    .skills {
        min-height: 180vh;
    }
    .skill-bar {
        width: 88vw;
    }
    .assignment-sec .container .drop .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 40px;
        gap: 0px;
    }
    .gallery .controls .buttons {
        width: 58px;
        font-size: 13px;
        margin: 16px;
        padding: 8px;
    }
    .contact-form form .send {
        padding: 5px 30px;
        left: 126px;
    }
}
@media all and (max-width: 375px){

}
@media all and (max-width: 320px){

}
